@keyframes color {
  0% {
    color: #232323;
  }

  10% {
    color: #a51616;
  }

  20% {
    color: #f1e954;
  }

  30% {
    color: #f39a24;
  }

  40% {
    color: #54f324;
  }

  50% {
    color: #24e5f3;
  }

  60% {
    color: #243cf3;
  }

  70% {
    color: #a724f3;
  }

  80% {
    color: #f324e2;
  }

  90% {
    color: #f32488;
  }

  100% {
    color: #232323;
  }
}
