$primary-color: #a8dadc;
$primary-color-dark: #2e5167;
$primary-color-darkest: #053857;
$primary-color-light: #f1faee;

$secondary-color: #ffc300;
$secondary-color-light: #ffd60a;

$font-color: #fafafa;
